body {
	font-size: 75%;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

#controler {
	width: 300px;
	line-height: 1.5em;
	margin-top: 20px;
}
.slider {
	margin: 8px;
}
.people {
	padding: 3px;
}
.pos {
	margin: 0;
	width: 50px;
	height: 50px;
	background-color: #aaa;
}

.validateTips { border: 1px solid transparent; padding: 0.3em; }
textarea {
	width: 96%;
	padding: .4em;
}

.student {
	background-color: #aaa;
	padding: 10px;
}
#links {
	width: 500px;
}